main, .providerUpload, .response {
    margin-top: 20px;
}

.btnContainer {
    margin: 20px;
}

.chooseFileBtn {
    width: 80%;
}

.mtrain-spinner {
    height: 32px;
    width: 32px;
    background: url('../images/spinner.gif') center no-repeat;
    display: inline-block;
    float: left;
    margin-left: 20px;
}
