@import url("select2-bootstrap.css");
@import url("style.min.css");

main, .providerUpload, .response {
    margin-top: 20px;
}

.btnContainer {
    margin: 20px;
}

.chooseFileBtn {
    width: 80%;
}

.mtrain-spinner {
    height: 32px;
    width: 32px;
    display: inline-block;
    float: left;
    margin-left: 20px;
}

.col-centered {
    float: none;
    margin: 0 auto;
}

#questionModal .modal-dialog  {
    width:60%;
}

.options-input input {
    background: transparent;
    height: 20px;
    width: 20px;
    padding: 5px;
    margin: 1px 0;
    outline: 0;
    border: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow   : none;
    -o-box-shadow     : none;
    box-shadow        : none;
}

.valid-option {
    background-color: #f4f4f4;
    border: 1px solid #aaaaaa;
    border-radius : 3px;
    padding: 3px 5px 3px 15px;
    margin-left: 3px;
    margin-bottom: 3px;
    line-height: 13px;
    position: relative;
    background-color: #e4e4e4;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f4f4f4', endColorstr='#eeeeee', GradientType=0 );
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(20%, #f4f4f4), color-stop(50%, #f0f0f0), color-stop(52%, #e8e8e8), color-stop(100%, #eeeeee));
    background-image: -webkit-linear-gradient(top, #f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
    background-image: -moz-linear-gradient(top, #f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
    background-image: -o-linear-gradient(top, #f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
    background-image: -ms-linear-gradient(top, #f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
    background-image: linear-gradient(top, #f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
}

.option-list {
    margin-left: -7px;
}

.option-list li {
    float: left;
    list-style: none;
}

.question-close.select2-search-choice-close {
    left: 3px;
}

.select2-search-choice-close:hover {
  background-position: right -11px;
}

.options {
    height: auto;
    cursor: text;
    max-width: 100px;
}

.options-active {
    -webkit-box-shadow: 0 0 5px rgba(0,0,0,.3);
    -moz-box-shadow   : 0 0 5px rgba(0,0,0,.3);
    -o-box-shadow     : 0 0 5px rgba(0,0,0,.3);
    box-shadow        : 0 0 5px rgba(0,0,0,.3);
    border: 1px solid #66afe9;
}

.header-footer {
    height: auto !important;
}

div.buttons > button {
    width:170px;
    margin-top: 20px;
    margin-left: 10px;

}

.table-lightblue-nohover {
    border-color: #D4E1F9;
    background: #E4F1F9;
}

.table-lightblue-nohover  tbody tr:nth-child(2n+1) td {
    background: #F3FBFE;
}

.draggable > * {
    margin-left: 10px;
}

.draggable i {
    margin-right: 5px;
}

.ui-jqgrid-labels {
    height: 50px;
}

li[state="Inactive"] > a {
    color: #C0C0C0 !important;
}

.ui-jqgrid .ui-jqgrid-btable {
    table-layout: auto;
}

.ui-jqgrid .ui-jqgrid-htable {
    table-layout: auto;
}

#errorMessage {
    word-wrap: break-word;
}