main, .providerUpload, .response {
    margin-top: 20px;
}

.btnContainer {
    margin: 20px;
}

.chooseFileBtn {
    width: 80%;
}

.mtrain-spinner {
    height: 32px;
    width: 32px;
    display: inline-block;
    float: left;
    margin-left: 20px;
}

.col-centered {
    float: none;
    margin: 0 auto;
}

#questionModal .modal-dialog  {width:60%;
}
