<div class="row col-md-12">

    <div>
        <ul ng-show="alertMessage" class="alert alert-success">{{alertMessage}}</ul>
        <button id="createChapter" class="btn btn-success" ng-hide="creatingChapter || updatingChapter" ng-click="createChapter()">{{msg('mtraining.createChapter')}}</button>
    </div>

    <form class="form-horizontal" ng-show="creatingChapter || updatingChapter">
        <fieldset>
            <legend ng-show="creatingChapter">{{msg('mtraining.createChapter')}}</legend>
            <legend ng-show="updatingChapter">{{msg('mtraining.updateChapter')}}</legend>

            <div class="form-group">
                <label class="col-md-4 control-label" for="chapterName">{{msg('mtraining.chapterName')}}</label>
                <div class="form-inline col-md-8">
                    <input id="chapterName" name="chapterName" class="form-control input-xlarge-fluid input-auto" type="text" ng-model="chapter.name" >
                    <span ng-show="errorName" class="form-hint">{{errorName}}</span>
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-4 control-label" for="chapterDescription">{{msg('mtraining.description')}}</label>
                <div class="col-md-4">
                    <textarea class="form-control input-xlarge-fluid" id="chapterDescription" name="chapterDescription" ng-model="chapter.description" maxlength="129"></textarea>
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-4 control-label" for="audioFilename">{{msg('mtraining.filename')}}</label>
                <div class="col-md-4">
                    <input id="audioFileName" name="audioFileName" class="form-control input-xlarge-fluid" type="text" ng-model="chapter.externalId" maxlength="43">
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-4 control-label" for="modules">{{msg('mtraining.parentModules')}}</label>
                <div class="col-md-4">
                    <select id="modules" class="input-xlarge-fluid" hidden multiple ng-model="selectedModules">
                        <option ng-repeat="module in modules" value="{{module.id}}">{{module.name}}</option>
                    </select>
                </div>
                <img src="../mtraining/images/spinner.gif" class="mtrain-spinner" ng-show="fetchingModules"/>
            </div>

            <div class="form-group">
                <label class="col-md-4 control-label" for="quiz">{{msg('mtraining.quiz')}}</label>
                <div class="col-md-4">
                    <select id="quiz" class="form-control input-xlarge-fluid" ng-model="selectedQuiz">
                        <option></option>
                        <option ng-repeat="quiz in quizzes" value="{{$index}}">{{quiz.name}}</option>
                    </select>
                </div>
                <img src="../mtraining/images/spinner.gif" class="mtrain-spinner" ng-show="fetchingQuizzes"/>
            </div>

            <div class="form-group">
                <div class="col-md-8 pull-right">
                    <button id="saveButton" ng-show="creatingChapter" name="saveButton" class="btn btn-primary" ng-click="saveChapter()">{{msg('mtraining.save')}}</button>
                    <button id="updateButton" ng-show="updatingChapter" name="updateButton" class="btn btn-warning" ng-click="updateChapter()">{{msg('mtraining.update')}}</button>
                    <button id="deleteButton" ng-show="updatingChapter"name="deleteButton" class="btn btn-danger" ng-click="deleteChapter()">{{msg('mtraining.delete')}}</button>
                    <button id="cancelButton" name="cancelButton" class="btn btn-inverse" ng-click="clearChapter()">{{msg('mtraining.cancel')}}</button>
                </div>
                <img src="../mtraining/images/spinner.gif" class="mtrain-spinner" ng-show="savingChapter"/>
            </div>

        </fieldset>
    </form>

    <div id="outsideChaptersListTable" class="overrideJqgridTable">
        <table id="chaptersListTable" chapters-grid="pageChaptersResourceTable"></table>
        <div id="pageChaptersResourceTable"></div>
    </div>

</div>
