<div class="row col-md-12">

    <div>
        <ul ng-show="alertMessage" class="alert alert-success">{{alertMessage}}</ul>
    </div>

	<div class="ui-jqgrid-hbox" style="padding-right: 0px; width: 100%;">
		<table class="ui-jqgrid-htable table-lightblue-nohover" style="width: 100%; height: 500px" role="grid" aria-labelledby="gbox_treeTable" cellspacing="0" cellpadding="0" border="0">
			<thead>
				<tr class="ui-jqgrid-labels" role="rowheader">
					<th id="treeTable_treeModel" role="columnheader" class="ui-state-default ui-th-column ui-th-ltr" style="width: 22%;" aria-selected="true">
						<span class="ui-jqgrid-resize ui-jqgrid-resize-ltr" style="cursor: col-resize;">&nbsp;</span>
						<div id="jqgh_treeTable_treeModel" class="ui-jqgrid-sortable"><span class="s-ico" style=""><span sort="asc" class="ui-grid-ico-sort ui-icon-asc ui-icon ui-icon-triangle-1-n ui-sort-ltr ui-state-disabled"></span><span sort="desc" class="ui-grid-ico-sort ui-icon-desc ui-icon ui-icon-triangle-1-s ui-sort-ltr"></span></span>
						</div>
					</th>
					<th id="treeTable_Members" role="columnheader" class="ui-state-default ui-th-column ui-th-ltr" style="width:13%;">
						<span class="ui-jqgrid-resize ui-jqgrid-resize-ltr" style="cursor: col-resize;">&nbsp;</span>
						<div id="jqgh_treeTable_Members" class="ui-jqgrid-sortable">{{msg('mtraining.members')}}<span class="s-ico" style="display:none"><span sort="asc" class="ui-grid-ico-sort ui-icon-asc ui-state-disabled ui-icon ui-icon-triangle-1-n ui-sort-ltr"></span><span sort="desc" class="ui-grid-ico-sort ui-icon-desc ui-state-disabled ui-icon ui-icon-triangle-1-s ui-sort-ltr"></span></span>
						</div>
					</th>
					<th id="treeTable_Units" role="columnheader" class="ui-state-default ui-th-column ui-th-ltr" style="width: 13%;"><span class="ui-jqgrid-resize ui-jqgrid-resize-ltr" style="cursor: col-resize;">&nbsp;</span>
						<div id="jqgh_treeTable_Course" class="ui-jqgrid-sortable">{{msg('mtraining.nodes')}}<span class="s-ico" style="display:none"><span sort="asc" class="ui-grid-ico-sort ui-icon-asc ui-state-disabled ui-icon ui-icon-triangle-1-n ui-sort-ltr"></span><span sort="desc" class="ui-grid-ico-sort ui-icon-desc ui-state-disabled ui-icon ui-icon-triangle-1-s ui-sort-ltr"></span></span>
						</div>
					</th>
				</tr>
				
			</thead>
			<tr role="row" id="1" tabindex="0" class="ui-widget-content jqgrow ui-row-ltr ui-state-highlight" aria-selected="true">
					<td role="gridcell" class="ui-state-default jqgrid-rownum" style="width: 25px;" title="1" aria-describedby="treeTable_treeModel">
					  <div id="jstree">
					  </div>
					</td>
					<td role="gridcell" id="members" class="ui-state-default jqgrid-rownum draggable droppable" aria-describedby="treeTable_Members">
                        <div ng-repeat="item in children"><i class="{{item.icon}}" />{{item.text}}</div>
                    </td>
					<td role="gridcell" id="units" class="ui-state-default jqgrid-rownum draggable" aria-describedby="treeTable_Units">
                        <div ng-repeat="item in nodes" ng-show="!isChildren(item.id)" idx="{{$index}}"><i class="{{childIcon}}" />{{item.name}} (v. {{item.version}})</div>
                        <div ng-repeat="item in quizNodes" ng-show="!isChildren(item.id) && isUnique(item.id)" class="quiz" idx="{{$index}}" qid="{{item.id}}"><i class="{{jstree.settings.types.quiz.icon}}" />{{item.name}} (v. {{item.version}})</div>
                    </td>
					
			</tr>
		</table>
	</div>
	<div class="buttons">
        <button id="publishCourse" class="btn btn-primary ng-binding" ng-click="publishCourse()" ng-disabled="!isPublishable()">
            <i class="icon-spin icon-refresh" ng-show="publishingCourse"/>
            <i class="icon-cloud-upload icon-white"></i> {{msg('mtraining.publish')}}
        </button>
		<button class="btn btn-success ng-binding" ng-click="saveRelations()" ng-disabled="!unsaved || savingRelations">
            <i class="icon-spin icon-refresh" ng-show="savingRelations"/>
            <i class="icon-save icon-white"></i> {{msg('mtraining.save')}}
        </button>
        <button id="unitStateButton" class="btn btn-warning ng-binding" ng-click="switchUnitState()">
            <i class="icon-flag icon-white"></i>
            <span ng-switch on="isActive(selected)">
                <span ng-switch-when="false"> {{msg('mtraining.activate')}}</span>
                <span ng-switch-default> {{msg('mtraining.deactivate')}}</span>
            </span>
        </button>
		<button id="removeMember" class="btn btn-danger ng-binding" ng-click="removeMember()" style="display:none">
            <i class="icon-trash icon-white"></i> {{msg('mtraining.removeMember')}}
        </button>
		<button class="btn btn-danger ng-binding" ng-click="cancel()">
            <i class="icon-remove icon-white"></i> {{msg('mtraining.cancel')}}
        </button>
	</div>

</div>