<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

    <appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d %-5p [%c] %m%n"/>
        </layout>
    </appender>

    <appender name="WHP-LOG-FILE" class="org.apache.log4j.FileAppender">
        <param name="file" value="/var/log/motech/whp-mtraining.log"/>
        <param name="append" value="false"/>
        <param name="threshold" value="debug"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{ISO8601} %-5p [%c] - %m%n"/>
        </layout>
    </appender>

    <logger name="org.motechproject.whp.mtraining">
        <level value="INFO"/>
        <appender-ref ref="WHP-LOG-FILE"/>
    </logger>

    <root>
        <priority value="ERROR"/>
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="WHP-LOG-FILE"/>
    </root>

</log4j:configuration>